src/main/default/flows/JBSystemFlow_Lead-2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj158f3673db1fc4986ec9d81974cdd324_FireJBTrigger</name>
        <label>SalesforceObj158f3673db1fc4986ec9d81974cdd324_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj158f3673db1fc4986ec9d81974cdd324</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7303863</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Status&quot;,&quot;LastName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj158f3673db1fc4986ec9d81974cdd324</name>
        <label>JB_Decision_Null_Check_SalesforceObj158f3673db1fc4986ec9d81974cdd324</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj158f3673db1fc4986ec9d81974cdd324_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj158f3673db1fc4986ec9d81974cdd324_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj158f3673db1fc4986ec9d81974cdd324_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj158f3673db1fc4986ec9d81974cdd324_Decision</name>
        <label>JB_SalesforceObj158f3673db1fc4986ec9d81974cdd324_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj158f3673db1fc4986ec9d81974cdd324</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Journey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj158f3673db1fc4986ec9d81974cdd324_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj158f3673db1fc4986ec9d81974cdd324</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj158f3673db1fc4986ec9d81974cdd324</startElementReference>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
